.react-calendar {
    width: 100%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}

.react-calendar__navigation {
    display: flex;
    height: auto;
    margin-bottom: 1em;
}

.react-calendar__navigation button {
    color: #6b6b6b;
    min-width: 44px;
    background: none;
    font-size: 1.25em;
    margin: 0 0.5em;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
}

.react-calendar__tile {
    max-width: 100%;
    padding: 0.75em 0.5em;
    background: none;
}

.react-calendar__tile--active {
    background: #3182ce;
    color: white;
}